row {margin: 0px;}
.container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.border {
    border-radius: 10px;
    background-color: ghostwhite;
    border-color: rgb(97, 55, 136) !important
}
.footer{
    padding: 20px;
    background-color: #007bff;
}
nav {
    display: block;
    background-color: #007bff;
}
.card-body {padding: 40px;}
.breadcrumb {margin: 0;}